@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #121212;
}
a{
    color: #ffffff;
    text-decoration: none;
}
h2{
    color: #ffffff;
    font-size: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgba(40, 40, 40, 0.4);
}
.header-user{
    margin-right: 10px;
    background-color: #050505;
    width: 226px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-user-avatar{
    height: 50px;
}
.header-user-avatar img{
    height: 50px;
}
.header-user-more{
    height: 20px;
    margin-right: 20px;
}
.header-user-more img{
    height: 20px;
}
.artist-main{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 125px;
    grid-template-columns: 230px 1fr;
    grid-template-areas:    "menu artist-list"
                            "menu player";
}
.menu{
    grid-area: menu;
    background-color: #040404;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-link{
    margin: 20px 0;
    font-weight: 600;
    text-align: center;
}
.artist_list{
    grid-area: artist-list;
    padding: 20px 50px;
}
.artist_list-container{
    width: 100%;
    margin-top: 15px;
}
.artist_list-container-item {
    padding: 10px 1em;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #363636;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .artist_list-container-title{
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }
  .artist_list-container-title h3{
    margin: 10px 0;
    color: #ffffff;
  }
  
  .artist_list-container-image {
    background-color: gray;
    height: 54px;
    width: 54px;
  }
  .artist_list-container-description{
      color: #9c9c9c
  }

.player{
    grid-area: player;
    background-color: #282828;
}

@media (max-width:480px){
    .artist-main{
        grid-template-areas:    "menu artist-list"
                                "player player";
    }
}