@import '/src/styles/variables';

.SignIn {
	// display: grid;
	// grid-template-columns: 100%;
	// grid-template-rows: 1fr 4fr 1fr;
	// justify-items: center;

	&__form {
		padding: 10px;
		width: 400px;
		height: 500px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $colorboxes;
		h2 {
			margin-top: 40px;
			text-align: center;
			font-weight: 300;
			text-transform: uppercase;
			color: $colorFont;
		}
		label {
			margin-top: 40px;
			color: $colorFont;
		}
		input {
			margin-top: 10px;
			padding-left: 10px;
			width: 340px;
			height: 50px;
			border: none;
			border-radius: 10px;
			background-color: $colorInputs;
			color: $colorFont;
		}
		button {
			margin-top: 40px;
			width: 340px;
			height: 90px;
			border: none;
			border-radius: 10px;
			font-size: 32px;
			font-weight: 100;
			cursor: pointer;
			color: $colorFont;
			background-color: $colorbtn;
		}
		button:hover {
			border: 1px solid $colorbtn-border-hover;
			font-style: italic;
		}
		button:active {
			background-color: $colorbtn-active;
			font-weight: 300;
		}
	}
	&__forgotPassword {
		display: block;
		margin: 0 auto;
		width: 200px;
		height: 50px;
		border: none;
		border-radius: 10px;
		font-weight: 100;
		cursor: pointer;
		color: $colorFont;
		background-color: $colorbtn;
	}
	&__forgotPassword:hover {
		border: 1px solid $colorbtn-border-hover;
		font-style: italic;
	}
	&__forgotPassword:active {
		background-color: $colorbtn-active;
		font-weight: 300;
	}
}
