@import '/src/styles/variables';

.Landing {
	margin: 0 auto;
	max-width: 1200px;
	height: 100vh;
	background-color: $colorbackground;
	display: grid;
	grid-template-rows: 130px 1fr 1fr;
	grid-template-columns: 40% 60%;
	grid-template-areas: 'arriba arriba' 'izq der' 'abajo abajo';
	grid-row-gap: 20px;
	&__header {
		height: 130px;
		grid-area: arriba;
	}
	&__banner {
		grid-area: izq;
		height: 550px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $colorFont;
		font-size: 50px;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__signup {
		width: 100%;
		height: 550px;
		grid-area: der;
		display: flex;
		justify-content: center;
	}
	&__bannerTwo {
		grid-area: abajo;
		height: 230px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $colorFont;
		font-size: 50px;
		img {
			object-fit: cover;
			width: 100%;
			height: 230px;
		}
	}
}

@media screen and (min-width: 780px) {
	.Landing {
		grid-template-columns: 50% 50%;
		&__bannerTwo {
			height: 150px;
			img {
				height: 150px;
			}
		}
	}
}
